@page "/projects/details"
@using Microsoft.EntityFrameworkCore
@using Projects.Models
@inject IDbContextFactory<Projects.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Project</h2>
    <hr />
    @if (project is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@project.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@project.Description</dd>
            <dt class="col-sm-2">Start Date</dt>
            <dd class="col-sm-10">@project.StartDate</dd>
            <dt class="col-sm-2">End Date</dt>
            <dd class="col-sm-10">@project.EndDate</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@project.Status</dd>
            <dt class="col-sm-2">Created At</dt>
            <dd class="col-sm-10">@project.CreatedAt</dd>
            <dt class="col-sm-2">Updated At</dt>
            <dd class="col-sm-10">@project.UpdatedAt</dd>
            <dt class="col-sm-2">Number of Active Assignments</dt>
            <dd class="col-sm-10">@(project.Assignments != null ? project.Assignments.Where(a => a.Status == AssignmentStatus.ACTIVE).Count() : 0)</dd>
            <dt class="col-sm-2">Number of Completed Assignments</dt>
            <dd class="col-sm-10">@(project.Assignments != null ? project.Assignments.Where(a => a.Status == AssignmentStatus.COMPLETED).Count() : 0)</dd>
        </dl>
        <div>
            <a href="@($"/projects/edit?id={project.ProjectId}")">Edit</a> |
            <a href="@($"/assignments?projectId={project.ProjectId}")">View Assignments</a> |
            <a href="@($"/projects")">Back to List</a>
        </div>
    }
</div>

@code {
    private Project? project;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        project = await context.Projects
        .Include(a => a.Assignments)
        .FirstOrDefaultAsync(m => m.ProjectId == Id);

        if (project is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
